{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "corejs": "3",
        "useBuiltIns": "usage"
      }
    ]
    // [
    //   "minify",
    //   {
    //     "builtIns": false,
    //     "evaluate": false,
    //     "mangle": false
    //   }
    // ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-modules-umd",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ]
}
