@import './colors.less';

// Width
@width-app-left: 224px;

// Height
@height-toolbar: 56px;
@height-player: 88px;


// Shadow
@shadow-app: 8px;


// Radius
@radius-progress-border: 8px;
@radius-border: 12px;

@transition-theme: 120ms cubic-bezier(.2, 0, 0, 1);
@transition-slow: 180ms cubic-bezier(.2, 0, 0, 1);
@transition-normal: 120ms cubic-bezier(.2, 0, 0, 1);
@transition-fast: 120ms cubic-bezier(.2, 0, 0, 1);

@form-radius: 10px;
