html(lang="cn")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title 五音助手

  body
    #root
    //- if htmlWebpackPlugin.options.isProd
    //-   script.
    //-     window.__static = '!{require('path').join(htmlWebpackPlugin.options.__dirname, '/static').replace(/\\/g, '\\\\')}'
    //- if !htmlWebpackPlugin.options.browser && htmlWebpackPlugin.options.isProd
      script.
        window.__static = require('path').join(__dirname, '/resources').replace(/\\/g, '\\\\')
